=================================================================

&nbsp;                 START BATCH RUN: 06-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 32 16 8 4 1], act\_funcs:{relu, relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.885



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6843

Training F2 = 0.6900



Validation Precision = 0.3899

Training Precision = 0.3923



Validation Recall = 0.8442

Training Recall = 0.8518







----- Model 2 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 32 16 8 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6778

Training F2 = 0.6843



Validation Precision = 0.3834

Training Precision = 0.3870



Validation Recall = 0.8392

Training Recall = 0.8470







----- Model 3 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 32 16 1], act\_funcs:{relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.89



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6755

Training F2 = 0.6796



Validation Precision = 0.3852

Training Precision = 0.3881



Validation Recall = 0.8324

Training Recall = 0.8368







----- Model 4 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 32 1], act\_funcs:{relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6714

Training F2 = 0.6754



Validation Precision = 0.3737

Training Precision = 0.3756



Validation Recall = 0.8386

Training Recall = 0.8438







----- Model 5 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 1], act\_funcs:{relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.855



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6695

Training F2 = 0.6702



Validation Precision = 0.3634

Training Precision = 0.3634



Validation Recall = 0.8482

Training Recall = 0.8495







----- Model 6 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.89



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6830

Training F2 = 0.6907



Validation Precision = 0.3884

Training Precision = 0.3933



Validation Recall = 0.8431

Training Recall = 0.8521







----- Model 7 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 1], act\_funcs:{relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6810

Training F2 = 0.6861



Validation Precision = 0.3781

Training Precision = 0.3800



Validation Recall = 0.8519

Training Recall = 0.8591







----- Model 8 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 256 128 1], act\_funcs:{relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.89



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6797

Training F2 = 0.6852



Validation Precision = 0.3978

Training Precision = 0.4011



Validation Recall = 0.8262

Training Recall = 0.8327







----- Model 9 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 256 1], act\_funcs:{relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.0006

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6728

Training F2 = 0.6752



Validation Precision = 0.3907

Training Precision = 0.3923



Validation Recall = 0.8211

Training Recall = 0.8237











=================================================================

&nbsp;                 START BATCH RUN: 08-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 64 32 16 8 4 1], act\_funcs:{relu, relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.87



----- Training hyperparameters -----

Learning rate = 0.001

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6879

Training F2 = 0.6974



Validation Precision = 0.3859

Training Precision = 0.3897



Validation Recall = 0.8569

Training Recall = 0.8698







----- Model 2 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.88



----- Training hyperparameters -----

Learning rate = 0.001

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6900

Training F2 = 0.6993



Validation Precision = 0.3863

Training Precision = 0.3901



Validation Recall = 0.8592

Training Recall = 0.8721







----- Model 3 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 1], act\_funcs:{relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.001

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6876

Training F2 = 0.6935



Validation Precision = 0.3824

Training Precision = 0.3860



Validation Recall = 0.8592

Training Recall = 0.8660







=================================================================

&nbsp;                 START BATCH RUN: 08-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.875



----- Training hyperparameters -----

Learning rate = 0.002

Momentum coefficient = 0.95

Number of epochs = 100

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6930

Training F2 = 0.7029



Validation Precision = 0.3955

Training Precision = 0.4006



Validation Recall = 0.8547

Training Recall = 0.8677







**----- Model 2 -----**

**----- Neural Network hyperparameters -----**

**Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}**

**Parameter initialization method = he\_normal**

**Positivity threshold = 0.9**



**----- Training hyperparameters -----**

**Learning rate = 0.002**

**Momentum coefficient = 0.95**

**Number of epochs = 100**

**Minibatch size = 128**

**Regularization coefficient = 0.004**



**----- Results -----**

**Validation F2 = 0.6963**

**Training F2 = 0.7027**



**Validation Precision = 0.4010**

**Training Precision = 0.4045**



**Validation Recall = 0.8547**

**Training Recall = 0.8622**







=================================================================

&nbsp;                 START BATCH RUN: 09-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.88



----- Training hyperparameters -----

Learning rate = 0.003

Momentum coefficient = 0.95

Number of epochs = 30

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6845

Training F2 = 0.6931



Validation Precision = 0.3784

Training Precision = 0.3821



Validation Recall = 0.8620

Training Recall = 0.8742







----- Model 2 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.895



----- Training hyperparameters -----

Learning rate = 0.002

Momentum coefficient = 0.95

Number of epochs = 30

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6831

Training F2 = 0.6902



Validation Precision = 0.3807

Training Precision = 0.3840



Validation Recall = 0.8527

Training Recall = 0.8624











=================================================================

&nbsp;                 START BATCH RUN: 09-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.89



----- Training hyperparameters -----

Learning rate = 0.003

Momentum coefficient = 0.95

Number of epochs = 50

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6896

Training F2 = 0.6995



Validation Precision = 0.3987

Training Precision = 0.4044



Validation Recall = 0.8451

Training Recall = 0.8569







----- Model 2 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.885



----- Training hyperparameters -----

Learning rate = 0.002

Momentum coefficient = 0.95

Number of epochs = 50

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6883

Training F2 = 0.6965



Validation Precision = 0.3896

Training Precision = 0.3918



Validation Recall = 0.8527

Training Recall = 0.8654











=================================================================

&nbsp;                 START BATCH RUN: 10-01-2026

=================================================================



----- Model 1 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.89



----- Training hyperparameters -----

Learning rate = 0.003

Momentum coefficient = 0.95

Number of epochs = 70

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6925

Training F2 = 0.7021



Validation Precision = 0.3945

Training Precision = 0.3985



Validation Recall = 0.8541

Training Recall = 0.8684







----- Model 2 -----

----- Neural Network hyperparameters -----

Network configuration (neurons and activations) = {neurons:\[38 128 64 32 16 1], act\_funcs:{relu, relu, relu, relu, sigmoid}}

Parameter initialization method = he\_normal

Positivity threshold = 0.895



----- Training hyperparameters -----

Learning rate = 0.002

Momentum coefficient = 0.95

Number of epochs = 70

Minibatch size = 256

Regularization coefficient = 0.004



----- Results -----

Validation F2 = 0.6894

Training F2 = 0.6991



Validation Precision = 0.4074

Training Precision = 0.4111



Validation Recall = 0.8361

Training Recall = 0.8494









